/* ________ RESET ________ */
* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
/* ________ FINE RESET ________ */

/* ________ REGOLE GENERALI ________ */
body {
  font-family: "Montserrat", sans-serif;
  color: #33475a;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 70%;
  margin: auto;
}

.col {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;;
  clear: both;
}

.button {
  background: #ed7958;
  border-radius: 5px;
  font-size: 13px;
  padding: 20px 30px;
}

.button:hover {
  background: rgba(237, 121, 88, 0.5);
}
/* ________ FINE REGOLE GENERALI ________ */

/* ________ MENU FIXED E MENU ________ */
nav .container .col {
  width: calc(100%/2);
  line-height: 5.5;
  font-size: 14px;
  font-weight: 550;
}

/* Menu Fixed */
nav.fixed {
  position: fixed;
  background: #f5f8fa;
  width: 100%;
  border-bottom: 1px solid #32495a;
}

nav.fixed .container .col.language span:nth-of-type(2) {
  margin-left: 15px;
  padding-left: 20px;
  border-left: 2px solid #32495a;
}

nav.fixed .container .col.signin {
  text-align: right;
}

nav.fixed .container .col.signin .button.login {
  background: white;
  color: #ed7958;
  border: 1px solid #ed7958;
  margin: 0 20px;
  padding: 7px;
}

nav.fixed .container .col.signin .button.login:hover {
  background: rgba(0, 0, 0, 0.1);
}

nav.fixed .container .col.signin .button {
  padding: 7px;
}

/* Fine Menu Fixed */

/* Menu */
nav.menu {
  padding-top: 75px;
}

nav.menu .container .col.logo img {
  vertical-align: middle;
  width: 18%;
}

nav.menu .container .col.options {
  text-align: right;
}

nav.menu .container .col.options ul li {
  display: inline-block;
  margin-left: 20px;
}

nav.menu .container .col.options ul .fas {
  margin-left: 15px;
}
/* Fine Menu */
/* ________ FINE MENU FIXED E MENU ________ */

/* ________ HEADER ________ */
header {
  background-color: #fdf5ef;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right;
  font-weight: 510;
}

header .container .heading {
  width: 50%;
  padding: 50px 0 150px;
}

header .container .heading h1 {
  font-size: 40px;
}

header .container .heading p {
  font-size: 14px;
  line-height: 2;
  margin: 45px 0;
}

header .container .heading p:nth-of-type(2) {
  font-size: 11px;
}

header .line {
  position: relative;
  height: 75px;
  background: #afebe4;
  border-top: 3px solid #33475a;
  border-bottom: 3px solid #33475a;
}
/* ________ FINE HEADER ________ */

/* ________ MAIN ________ */
/* ________ FINE MAIN ________ */

/* ________ FOOTER ________ */
/* ________ FINE FOOTER ________ */
