/* ________ RESET ________ */
* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
/* ________ FINE RESET ________ */

/* ________ REGOLE GENERALI ________ */
body {
  font-family: "Montserrat", sans-serif;
  color: #33475a;
  letter-spacing: -0.5px;
  font-weight: 510;
  font-size: 90%;
}

a {
  text-decoration: none;
  color: #33475a;
}

a:hover {
  color: #ed7958;
}

li {
  list-style-type: none;
  display: inline-block;
}

p {
  line-height: 2;
}

.container {
  width: 70%;
  margin: auto;
}

.col {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;;
  clear: both;
}

.button {
  background: #ed7958;
  border-radius: 5px;
  font-size: 90%;
  padding: 4% 8%;
  color: white;
}

.button:hover {
  background: rgba(237, 121, 88, 0.5);
}

.fa-check-circle {
  color: #ed7958;
}
/* ________ FINE REGOLE GENERALI ________ */

/* ________ MENU FIXED E MENU ________ */
nav .container .col {
  width: calc(100%/2);
  line-height: 5.5;
  font-weight: 550;
}

/* Menu Fixed */
nav.fixed {
  position: fixed;
  background: #f5f8fa;
  width: 100%;
  border-bottom: 1px solid #32495a;
}

nav.fixed .container .col.language span:nth-of-type(2) {
  margin-left: 3%;
  padding-left: 4%;
  border-left: 2px solid #32495a;
}

nav.fixed .container .col.signin {
  text-align: right;
}

nav.fixed .container .col.signin .button.login {
  background: white;
  color: #ed7958;
  border: 1px solid #ed7958;
  margin: 0 4%;
  padding: 1.5%;
}

nav.fixed .container .col.signin .button.login:hover {
  background: rgba(0, 0, 0, 0.1);
}

nav.fixed .container .col.signin .button {
  padding: 1.5%;
}

/* Fine Menu Fixed */

/* Menu */
nav.menu {
  padding-top: 80px;
}

nav.menu .container .col.logo {
  width: 20%;
}

nav.menu .container .col.options {
  width: 80%;
}

nav.menu .container .col.logo img {
  vertical-align: middle;
  width: 40%;
}

nav.menu .container .col.options {
  text-align: right;
}

nav.menu .container .col.options ul li {
  display: inline-block;
  margin-left: 5%;
}

nav.menu .container .col.options ul .fas {
  margin-left: 2%;
}
/* Fine Menu */
/* ________ FINE MENU FIXED E MENU ________ */

/* ________ HEADER ________ */
header {
  background-color: #fdf5ef;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right;
}

header .container .heading {
  width: 40%;
  padding: 4% 0 7%;
}

header .container .heading h1 {
  font-size: 300%;
}

header .container .heading p {
  margin: 10% 0;
}

header .container .heading p:nth-of-type(2) {
  font-size: 80%;
}

header .line {
padding: 2%;
  background: #afebe4;
  border-top: 3px solid #33475a;
  border-bottom: 3px solid #33475a;
}
/* ________ FINE HEADER ________ */

/* ________ MAIN ________ */
/* Sezione Offerte */
main section h2 {
  font-size: 230%;
}

main section.offers {
  background: #f5f8fa;
  text-align: center;
}

main section.offers .container .text img {
  width: 25%;
  margin-top: 5%;
}

main section.offers .container .text {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
}

main section.offers .container .text h2 {
  margin-bottom: 3%;
}

/* impostazione colonne offers */
main section.offers .container .row {
  margin-bottom: 3%;
}

main section.offers .container .col.offers {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 2% 0;
  padding: 5% 5%;
  width: 100%;
}

main section.offers .container .row .col.offers {
  padding: 4%;
  text-align: center;
  width: 30%;
}

main section.offers .container .row .col.offers:nth-of-type(2) {
  margin-left: 5%;
  margin-right: 5%;
}

main section.offers .container .col.offers img {
  width: 40%;
  height: 150px;
  margin-bottom: 4%;
}

main section.offers .container .col.offers h3 {
  font-size: 160%;
}

main section.offers .container .col.offers p {
  margin: 4% 0;
}

main section.offers .container .col.offers hr {
  border: 1px solid grey;
  margin-top: 30%;
}

main section.offers .container .col.offers h4 {
  margin: 10% 0;
  font-size: 115%;
}

main section.offers .container .col.offers ul li {
  text-align: left;
  margin-right: 20px;
  display: block;
}

main section.offers .container .col.offers a {
  margin: 10% 20% 0;
  display: inline-block;
}
/* fine impostazione colonne */

/* offers orizzontale */
main section.offers .container .col.offers .col.img {
  width: 25%;
  margin-right: 8%;
}

main section.offers .container .col.offers .col.img img {
  width: 60%;
}

main section.offers .container .col.offers .col.img a {
  margin-top: 0;
}

main section.offers .container .col.offers .col.crm {
  width: 65%;
  padding-left: 0;
  text-align: left;
}

main section.offers .container .col.offers .col.crm h4 {
  margin: 0;
}

main section.offers .container .col.offers .col.crm hr {
  width: 60%;
  margin: 1% 0 6% 10%;
}

main section.offers .container .col.offers .col.crm ul {
  display: inline-block;
}

main section.offers .container .col.offers .col.crm ul li {
  display: inline-block;
}

main section.offers .container .col.offers .col.crm ul li i {
  margin-right: 20px;
}
/* fine offers orizzontale */
/* Fine Sezione Offerte */

/* Sezione Community */
main section.community {
  background-image: linear-gradient(to right top, #00a4bc, #00abba, #00b1b5, #00b7ae, #00bda5);
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

main section.community .container h2 {
  padding: 5% 0;
}

main section.community .container p {
  margin-bottom: 5%;
}

main section.community .container .col {
  width: calc(100%/4);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 2%;
}

main section.community .container .col:nth-of-type(4),
main section.community .container .col:nth-of-type(8) {
  border-right: none;
}

main section.community .container .col:nth-of-type(5),
main section.community .container .col:nth-of-type(6),
main section.community .container .col:nth-of-type(7),
main section.community .container .col:nth-of-type(8) {
  border-bottom: none;
}

main section.community .container .col span {
  display: block;
  font-size: 300%;
}

 main section.community .container .col p {
  font-size: 90%;
  margin-top: 6%;
}
/* Fine Sezione Community */

/* Sezione Customers */
/* customers */
main section.customers .container .row-up .col {
  width: 30%;
  padding: 6%;
}

main section.customers .container .row-up .col h2 {
  font-size: 300%;
  margin-bottom: 10%;
}
/* fine customers */

/* aziende */
main section.customers .container .row-up .col:nth-of-type(2) {
  width: 70%;
  text-align: right;
}

main section.customers .container .row-up .col ul li {
  display: inline;
  line-height: 5;
  margin: 2%;
}

main section.customers .container .row-up .col ul li img {
  width: 18%;
  vertical-align: middle;
}
/* fine aziende */

/* growing */
main section.customers .container .row-down {
  margin-bottom: 3%;
}

main section.customers .container .row-down .col {
  width: 50%;
}

main section.customers .container .row-down .col p {
  margin: 10% 0;
}

main section.customers .container .row-down .col p:nth-of-type(2) {
  font-size: 90%;
}

main section.customers .container .row-down .col:nth-of-type(2) {
  text-align: right;
}

main section.customers .container .row-down .col img {
  width: 50%;
}
/* fine growing */
/* Fine Sezione Customers */
/* ________ FINE MAIN ________ */

/* ________ FOOTER ________ */
footer {
  background: #224e5d;
  color: #cbd6e2;
}

footer .container a:hover {
  color: #0091ae;
}

footer .container ul li,
footer .container .row-link .col ul li ul.underlist li {
  display: inline-block;
}

footer .container ul li a {
  color: #cbd6e2;
}
/* link */
footer .container .row-link {
  margin-bottom: 5%;
}

footer .container .row-link .col {
  margin-top: 3%;
  width: calc(100%/4);
}

footer .container .row-link .col ul li {
  line-height: 2.5;
  display: block;
}

footer .container .row-link .col ul li:first-child {
  font-weight: bold;
  color: white;
  margin-bottom: 6%;
}

footer .container .row-link .col ul li .button {
  background: #cbd6e2;
  color: #224e5d;
  padding: 3%;
  line-height: 4;
}

footer .container .row-link .col ul li .underlist li {
  margin-right: 8%;
}

footer .container ul.language {
  text-align: center;
  margin-bottom: 2%;
}

footer .container ul.language li {
  margin-right: 3%;
}
/* fine link */

/* copyright */
footer .container .col {
  width: calc(100%/2);
  margin: 3% 0;
}

footer .container .col.policy {
  text-align: right;
}

footer .container .col.policy li {
  margin-left: 3%;
}
/* fine copyright */
/* ________ FINE FOOTER ________ */
